body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background: ;
}

body header { 
	font-family: Impact, Charcoal, sans-serif;

}

footer {
	font-family: 'Bad Script', sans-serif; 
	font-size: 0.9em;
}